<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fcbfb8">  <td>18/08/03 18:32:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Allianz.Diver_details()[pri:2, instance:Insurance.Allianz@32eebfca]">Diver_details</td> 
  <td>main@832279283</td>   <td></td> </tr>
<tr bgcolor="fcbfb8">  <td>18/08/03 18:33:10</td>   <td>12353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Allianz.Your_quote()[pri:2, instance:Insurance.Allianz@32eebfca]">Your_quote</td> 
  <td>main@832279283</td>   <td></td> </tr>
<tr bgcolor="fcbfb8">  <td>18/08/03 18:32:39</td>   <td>-19114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Allianz.car_insurance()[pri:1, instance:Insurance.Allianz@32eebfca]">car_insurance</td> 
  <td>main@832279283</td>   <td></td> </tr>
<tr bgcolor="fcbfb8">  <td>18/08/03 18:33:11</td>   <td>12740</td> <td title="&lt;&lt;Allianz.endReport()[pri:0, instance:Insurance.Allianz@32eebfca]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@832279283</td>   <td></td> </tr>
<tr bgcolor="fcbfb8">  <td>18/08/03 18:32:20</td>   <td>-38475</td> <td title="&gt;&gt;Allianz.launch_url()[pri:0, instance:Insurance.Allianz@32eebfca]">&gt;&gt;launch_url</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@832279283</td>   <td></td> </tr>
</table>
