<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>insurance</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6bdb79">  <td>18/08/02 18:52:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Allianz.Diver_details()[pri:2, instance:Insurance.Allianz@5891e32e]">Diver_details</td> 
  <td>main@1920467934</td>   <td></td> </tr>
<tr bgcolor="6bdb79">  <td>18/08/02 18:52:45</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Allianz.Your_quote()[pri:2, instance:Insurance.Allianz@5891e32e]">Your_quote</td> 
  <td>main@1920467934</td>   <td></td> </tr>
<tr bgcolor="6bdb79">  <td>18/08/02 18:52:45</td>   <td>-169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Allianz.car_insurance()[pri:1, instance:Insurance.Allianz@5891e32e]">car_insurance</td> 
  <td>main@1920467934</td>   <td></td> </tr>
<tr bgcolor="6bdb79">  <td>18/08/02 18:52:44</td>   <td>-548</td> <td title="&gt;&gt;Allianz.launch_url()[pri:0, instance:Insurance.Allianz@5891e32e]">&gt;&gt;launch_url</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1920467934</td>   <td></td> </tr>
</table>
